.imgs-container{
    border: solid black 1px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(206, 206, 206));
}

.gallery-img{
    width: 24.5vw;
    height: 24.5vw;
    object-fit: cover;
    margin-top: 2px;
    transition: 0.6s;
}

/* .gallery-img:hover{
    width:3rem;
} */

