.imgs-container{
    border: solid black 1px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(206, 206, 206));
}

.gallery-img{
    width: 23vw;
    height: 23vw;
    object-fit: cover;
    margin: 1vh 0px 0px 1vw;
    
    transition: 0.6s;
}

.gallery-img:hover{
    box-shadow: 0px 0px 12px 7px #000000;
    cursor: pointer;
    z-index: 1;
}

