.modal {
    display: none;
    background-color: black;
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.modal header {
    width: 100vw;
    position: relative;
}
.modal header .btn{
background-color: transparent;
}

.modal-mid-and-bot-container{
    justify-content: space-around;
    width: 100vw;
}


.modal-mid-container{
    align-items: center;
}

.caption{
    width: 100vw;
    /* max-width: 452px; */
}

canvas {
    /* height: 300px; */
    
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.control-box{
    width: 100%;
    flex-direction: row;
    padding: 10px 5px 10px;
}

/* .shadow-checkbox {
    display: none;
} */
.range-container {
    width: 90%;
    align-self: center;
}


.font-size-span {
    color: white;
    justify-self: flex-end;
}

.input-font-size {
    width: 80px;
}

.font-size{
    color: white;
}
/* color range shows in sm screen */
/* color choose shows in lg screen */
.color-range {
    width: 100%;
}

.color-choose {
    display: none;
}

.color-container .btn{
    height: 25px;
    width: 35px;
    margin-top: 5px;
}

.shadow{
    color: aliceblue;
}

.modal .save-and-share-buttons{
    width: 100vw;
    margin-top: 15px;  
}

.modal .save-and-share-buttons .btn {
    border-radius: 50%;
    background-color: transparent;
}

.button-text {
    color: aliceblue;
    font-size: 20px;
}



@media (min-width: 768px) {
    
    
    

    .caption{
        width: 600px;
    }

    
    .range-container {
        width: 70%;
    }
}

@media (min-width: 1000px){

    modal {
        flex-direction: row;
    }
    
    .modal-mid-and-bot-container {
        display: flex;
        flex-direction: row-reverse;
    }
    .modal-mid-container {
        flex-grow: unset;
    }
    .modal-bot-container {
        flex-grow: unset;
    }
    
    .control-box {
        width: fit-content;
    }

    .modal .save-and-share-buttons {
    width: unset;
}

    .caption{
        width: 500px;
    }

    .control-box{
        flex-direction: column;
    }
    
    .color-range {
        display: none;
    }
    
    .color-choose {
        display: block;
    }
}
