.navbar-brand{
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.category-container{
    background-color: antiquewhite
}

.category-word{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color:cadetblue;
   
}

.category-item:hover{
    cursor: pointer;

}


